<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Inscripciones</title>
</head>
<body class="container mt-5">
    <div class="alert alert-success display-1">Listado de Inscripciones</div>
    {% if inscripcion %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Teléfono Contacto</th>
                <th>Fecha Inscripción</th>
                <th>Institución o Empresa</th>
                <th>Hora Inscripción</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>--</th>       
            </tr>
        </thead>
        <tbody>
            {% for ins in inscripcion%}
            <tr>
                <td>{{ins.id}}</td>
                <td>{{ins.nombre}}</td>
                <td>{{ins.telefono}}</td>
                <td>{{ins.fecha}}</td>
                <td>{{ins.institucion}}</td>   
                <td>{{ins.hora}}</td>      
                <td>{{ins.estado}}</td>
                <td>{{ins.observaciones}}</td>          
                <td><a href="/actualizar/{{ins.id}}" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></td>      
                <td><a href="/eliminar/{{ins.id}}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></td>                       
             </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info">No hay datos que mostrar</div>
    {% endif %}

    <a href="../" class="btn btn-danger">VOLVER</a>
    <a href="../inscribir" class="btn btn-info float-end">INSCRIBIR</a>
</body>
</html>